<mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" (dateInput)="OnDateStartChange($event.value)">
        <input matEndDate placeholder="End date" (dateInput)="OnDateEndChange($event.value)">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>


<app-table [startingDate]='startingDate' [endingDate]='endingDate'></app-table>